.footer-top {
    background: $color__accent-blue;
    padding: 1rem 2rem;
    height: 250px;
    @include media($tablet) {
        height: auto;
    }
    >div {
        height: 100%;
    }
}

.nmb-footer-widget-class {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    @include media($tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: $color__accent-beige;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.footer-border {
    @include media($tablet) {
        border-left: 1px solid #FFF;
    }
}

.footer-heading {
    text-transform: uppercase;
    font-size: 1.15rem;
    span {
        margin-right: 1rem;
    }
}

.footer-info {
    color: $color__accent-beige;
}

.footer-bottom {
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #000;
    p {
        width: 60%;
        margin: 0;
        font-size: 14px;
        color: $color__accent-grey;
    }
}