.site-header {
    background: #fff;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.site-branding {
    height: 50px;
    margin-left: 0.5rem;
    @include media($tablet) {
        height: 60px;   
    }
}

.header-logo {
    background-image: url(../../assets/nmb-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    @include media($tablet) {
        width: 70px;
        height: 70px;
    }
}

.header-text {
    display: none;
    @include media($desktop) {
        display: block;
    }
}

.responsive-menu-button {
    box-shadow: none;
    &:active, &:hover, &:focus {
        box-shadow: none;
    }
}

#responsive-menu-wrapper {
    margin-top: 8rem !important;
    text-transform: uppercase;
}

button#responsive-menu-button {
    top: 10px !important;
}

#responsive-menu {
    width: 300px !important;
    margin: 0 auto !important;
    display: flex;
    flex-wrap: wrap;
    li:first-child {
        display: none;
    }
}

#responsive-menu-wrapper #responsive-menu {
    .menu-social-icon {
        width: 50%;
    }
    .menu-fb {
        padding-left: 4.5rem;
    }
    .menu-ig {
        padding-right: 5.5rem;
        padding-top: 2px;
    }
}