.site-header {
    background: hsla(0,0%,100%,.85);
    border-bottom: 1px solid $color__accent-lightgrey;
    height: 70px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    z-index: 99999;
    @include media($desktop) {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: none;
        top: initial;
    }
}

.transparent-header {
    @include media($desktop) {
        background: transparent;
        position: absolute;
    }
}

.fixed-header {
    @include media($desktop) {
	    border-bottom: 1px solid $color__accent-lightgrey;
        background: rgba(255,255,255,0.85);
        .site-branding a, .main-navigation .menu a {
            color: $color__accent-blue;
            &:hover {
                border: none;
            }
        }
    }
}

.site-branding {
    height: 50px;
    margin-left: 0.5rem;
    @include media($desktop) {
        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            position: relative;
        }
    }
}

.header-logo {
    background-image: url(../../assets/images/nmb-logo-new.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 55px;
    @include media($desktop) {
        width: 90px;
        height: 65px;
        position: absolute;
        left: 0.5rem;
    }
}

.responsive-menu-button {
    -webkit-box-shadow: none;
            box-shadow: none;
    &:active, &:hover, &:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}

#responsive-menu-wrapper {
    margin-top: 8rem !important;
    text-transform: uppercase;
}

button#responsive-menu-button {
    top: 10px !important;
    
}

#responsive-menu {
    width: 300px !important;
    margin: 0 auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    li:first-child {
        display: none;
    }
}

#responsive-menu-wrapper #responsive-menu {
    .menu-social-icon {
        width: 50%;
    }
    .menu-fb {
        padding-left: 4.5rem;
    }
    .menu-ig {
        padding-right: 5.5rem;
        padding-top: 2px;
    }
}

.main-navigation {
    @include media($desktop) {
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%;
        margin-right: 1rem;
        margin-top: 1rem;
        .menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            li:first-child {
                display: none;
            }
            a {
                color: white;
                text-transform: uppercase;
                margin-top: 1px;
                &:hover {
                   border-top: 1px solid transparent;
                }
            }
            .menu-social-icon a:hover {
                border: none;
            }
        }
    }
}