.testimonials-container {
    >div {
        margin-bottom: 3rem;
        >p {
            margin: 0;
        }
    }
    >div:last-of-type {
        margin-bottom: 0;
    }
}

.testimonial-writeup {
    font-style: italic;
    span {
        font-style: normal;
        font-size: 1.5rem;
        color: $color__accent-blue;
    }
}

.testimonial-name {
    color: $color__accent-blue;
}

.testimonial-name, .testimonial-credentials {
    font-size: 14px;
    font-weight: bold;
}