.about-info-container {
    @include media($desktop) {
        max-width: 1200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    >div {
        text-align: center;
        margin-bottom: 4rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include media($desktop) {
            margin-bottom: 0;
            width: 28%;
        }
    }
}

.about-feature-icon {
    border: 7px solid $color__accent-blue;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    i {
        font-size: 2.5rem;
        color: $color__accent-blue;
    }
}

.about-feature-content {
    max-width: 490px;
    margin: 0 auto;
}

.guarantee-container {
    .section-title {
        p {
            color: $color__accent-blue;
        }
        span {
            @include title-underline($color__accent-dark);
        }
    }
}

.guarantee-content {
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
    @include media($desktop) {
        text-align: center;
        max-width: 900px;
    }
}