.service-feature-content {
    max-width: 145px;
    margin: 0 auto;
    @include media($tablet) {
        max-width: 160px;
    }
    @include media($desktop) {
        max-width: 180px;
    }
}

.services-container {
    text-align: center;
    >div {
        margin: 0 auto;
        margin-bottom: 4rem;
        @include media($tablet) {
            margin-bottom: 6rem;
        }
        @include media($desktop) {
            max-width: 1000px;
            display: flex;
            justify-content: space-between;
            text-align: initial;
            &:nth-of-type(even) {
                flex-direction: row-reverse;
                .blue-heading {
                    text-align: right;
                }
            }
        }
    }
    >div:last-of-type {
        margin-bottom: 0;
    }
}

.service-feature-icon {
    height: 42px;
    @include media($desktop) {
        height: 50px;
    }
}

.services-banner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    >div {
        width: 50%;
        margin-bottom: 2.5rem;
        @include media($desktop) {
            margin-bottom: 1rem;
        }
    }
    i {
        font-size: 2.5rem;
        animation: expandIcons 2s;
        -moz-animation: expandIcons 2s; /* Firefox */
        -webkit-animation: expandIcons 2s; /* Safari and Chrome */
        -o-animation: expandIcons 2s; /* Opera */
    }
}

.service-image-wrapper {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    @include media($desktop) {
        max-width: 48%;
        margin: 0;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
}

.service-content {
    @include media($desktop) {
        width: 48%;
    }
}

.service-writeup {
    text-align: justify;
    max-width: 650px;
    margin: 0 auto;
    p {
        margin-bottom: 0;
    }
}

@keyframes expandIcons {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}
@-moz-keyframes expandIcons { /* Firefox */
    from {
        transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}
@-webkit-keyframes expandIcons { /* Safari and Chrome */
    from {
        transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}
@-o-keyframes expandIcons { /* Opera */
    from {
        transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}