.service-feature-content {
    max-width: 145px;
    margin: 0 auto;
    @include media($tablet) {
        max-width: 160px;
    }
}

.services-container {
    >div {
        margin-bottom: 4rem;
        @include media($tablet) {
            margin-bottom: 6rem;
        }
    }
    >div:last-of-type {
        margin-bottom: 0;
    }
}

.services-banner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    >div {
        width: 50%;
        margin-bottom: 2.5rem;
    }
    i {
        font-size: 2.5rem;
    }
}

.service-image-wrapper {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
}

.service-writeup {
    text-align: justify;
    max-width: 650px;
    margin: 0 auto;
    p {
        margin-bottom: 0;
    }
}